body {
  font-family: "Poppins", sans-serif;
  background-image: url("../img/fondo1.webp");
  background-size: cover;
  background-position: center;
  display: flex; /** alinea todo dentro del body**/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.123);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgb(0, 0, 0);
  width: 500px;
  text-align: center;
}

h1 {
  background-position: center;
  margin-bottom: 40px;
  color: #000000;
}

.input-field {
  width: 100%;
  padding: 15px; /** espacio dentro del campo**/
  margin: 10px 0; /** espacio fuera del campo o espacio entre campios**/
  border: 1px solid #000000b7;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.74);
  box-sizing: border-box;
}

.submit-btn {
  background-color: #226ebb;
  color: white;
  padding: 15px;
  border: 1px solid #000000b7;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  margin: 10px 0;;
}

.submit-btn:hover {
  background-color: #3498db;
}


footer {
  display: flex;
  justify-content: space-between; /* alinea los elementos horizontalmente */
  align-items: center; /* alinea los elementos verticalmente */
  background-color: #333;
  color: #fff;
}

footer > * {
  margin: 10px;
}