.videos{
    display: flexbox;
    flex-direction: row;
    align-items: center;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
main{
    padding: 2.5rem;
}